{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main</title>

<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- link to static/css-->
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

<!-- google fonts-->
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


</head>

<body>

<!-- navbar -->
<nav class="container">
  <div >
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">글목록</a></li>
        <li><a href="{% url 'create' %}">새글쓰기</a></li>
      </ol>
     
  </div>
</nav>
{% block content %}
{% endblock %}


</body>
</html>
