{% extends "board/base.html" %}

{% block content %}
<div class="container">

    <h1> 새로운 댓글 </h1>
<br>
<br>

    <div class="comment_form">
        <form method="POST" class="post-form">
            <!-- POST 방식의 <form>을 사용하는 탬플릿 코드에서는 CSRF공격을 방지하기 위해
                {%csrf_token %}사용
             -->
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-info" type="submit" class="save btn btn-default">저장하기</button>
        </form>
    </div>

</div>

{% endblock content %}
